.page {
	width: 908px;
	margin: auto;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

a, h1, input, p {
	font-family: Arial, sans-serif;
}

.top {
	height: 26px;
	width: 100%;
	padding: 10px 0;
}

.phone {
	float: left;
	display: block;
	width: 289px;
}

.avtor {
	float: left;
	width: 495px;
	height: 25px;
	background: url(../img/back_avtor.png);

}

.avtor_text {
	width: 460px;
	margin-left: 28px;
}

input.text {
	display: inline-block;
	width: 114px;
	height: 12px;

	margin-top: 5px;
}

input.button {
	padding: 0;
	background: none;
	border: none;
	color: #ffffff;
	text-decoration: none;
}

.avtor_text>a {
	font-size: 12px;
	color: #bfbfbf;
}

.nav {
	float: right;
	padding: 6px;
	border: 1px solid gray;
	border-radius: 22px;
}

.nav>a {
	padding: 3px 7px;
}
